x-input {
    max-width: 9000px;
}

td {
    border: none !important;
}

.width-100 {
    width: 100%
}

.pull-top {
    vertical-align: top;
}

.margin-bottom-6 {
    margin-bottom: 6px;
}

.padding-bottom-0 {
    padding-bottom: 0px;
}
