x-input {
    max-width: 9000px;
}

tr.borderless > td {
    border: none !important;
}

.width-100 {
    width: 100%
}

.pull-top {
    vertical-align: top;
}

.margin-bottom-6 {
    margin-bottom: 6px;
}

.padding-bottom-0 {
    padding-bottom: 0px;
}

dialog::backdrop {
    pointer-events: none;
}

dialog::footer {
    justify-content: flex-start;
}

dialog > footer > .save {
    margin-left: 0px;
}

dialog > footer > .cancel {
    margin-left: auto;
}

.sidebar {
    width: 100px;
}

#documents {
    font-size: 12px;
}