x-input {
    max-width: 9000px;
}

tr.borderless > td {
    border: none !important;
}

.width-100 {
    width: 100%
}

.pull-top {
    vertical-align: top;
}

.margin-bottom-6 {
    margin-bottom: 6px;
}

.padding-bottom-0 {
    padding-bottom: 0px;
}

dialog::backdrop {
    pointer-events: none;
}

dialog::footer {
    justify-content: flex-start;
}

dialog > footer > .save {
    margin-left: 0px;
}

dialog > footer > .cancel {
    margin-left: auto;
}

.sidebar {
    width: 100px;
}

#documents {
    font-size: 13px;
    border-width: 2px;
}

#documents > thead > tr {
    font-size: 11px;
}

tr.doc-default {
    background-color: #FFFFFF;
}

tr.doc-default:hover {
    background-color: #dadada;
}

.doc-executed {
    background-color: #57C057;
}

.doc-executed:hover {
    background-color: #65aa65;
}

.doc-executing {
    background-color: #72B0ED;
}

.doc-executing:hover {
    background-color: #799fc5;
}

.doc-expired {
    background-color: #F37780;
}

.doc-expired:hover {
    background-color: #c5797f;	
}

.dataTable-top, .dataTable-bottom {
    padding: 8px 0px !important;
}